RewriteEngine on
RewriteBase /

RewriteCond %{HTTP:X-Forwarded-Protocol} =http
RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !\.(css|eot|gif|ico|jpg|jpeg|js|map|otf|png|svg|ttf|woff|woff2|bmp)$
RewriteRule .* handler.php [L]
RewriteRule ^$ handler.php [L]

<FilesMatch "\.(js|css|json|ogg|ogv|svg|svgz|eot|otf|woff|mp4|ttf|rss|atom|jpg|jpeg|gif|png|ico|zip|tgz|gz|rar|bz2|doc|xls|exe|ppt|tar|mid|midi|wav|bmp|rtf)$">
    Header set Cache-Control "max-age=2628000, public"
</FilesMatch>
