/* !!!
.flat-page-root {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.flat-page-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 10rem;
    max-height: 10rem;
    background-color: #fff;
}
*/
