$h-base-size: 1rem;
$small-width-page-padding: 0.5rem;

$color-white: #fff;
$color-black: #000;

$color-gray0: $color-white;
$color-gray5: #eceff1;
$color-gray10: #cfd8dc;
$color-gray20: #b0bec5;
$color-gray30: #90a4ae;
$color-gray40: #78909c;
$color-gray50: #607d8b;
$color-gray60: #546e7a;
$color-gray70: #455a64;
$color-gray80: #37474f;
$color-gray90: #263238;
$color-gray100: $color-black;

$color-teal0: $color-white;
$color-teal5: #e0f2f1;
$color-teal10: #b2dfdb;
$color-teal20: #80cbc4;
$color-teal30: #4db6ac;
$color-teal40: #26a69a;
$color-teal50: #009688;
$color-teal60: #00897b;
$color-teal70: #00796b;
$color-teal80: #00695c;
$color-teal90: #004d40;
$color-teal100: $color-black;

$color-blue0: $color-white;
$color-blue5: #e3f2fd;
$color-blue10: #bbdefb;
$color-blue20: #90caf9;
$color-blue30: #64b5f6;
$color-blue40: #42a5f5;
$color-blue50: #2196f3;
$color-blue60: #1e88e5;
$color-blue70: #1976d2;
$color-blue80: #1565c0;
$color-blue90: #0d47a1;
$color-blue100: $color-black;
